@charset "utf-8";
header{
    border:4px solid darkblue;
    border-radius: 30px;
    background-color:rgb(0,24,84);
    display: flex;
    justify-content: space-around;
}

img{
    padding-top: 20px;
    width: 210px;
    height: 90px;
    background-color: white;
    
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
.Menu{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    
}

.Menu a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke; 
    text-decoration: none;
}


body{
    background-image: url(../images/lenguaje-programacion.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: fixed
}


.Cuerpo1{
    position: relative;
    border: 4px solid darkblue;
    border-radius: 30px;
    padding-top: 1px;
    background-color:orange;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

}

.introduccion{
    width: 900px;
    height: 150px;
    text-align:justify;
}

.introduccion p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
}

.introduccion h1{
    color: black;
    padding-top: 50px;
    display: flex;
}


.Cuerpo2{
    position: relative;
    border: 4px solid darkblue;
    border-radius: 30px;
    padding-top: 1px;
    background-color:orange;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.Normas{
    width: 900px;
    height: 120px;
    text-align:justify;
}



.Normas h1{
    color: black;
    padding-top: 50px;
    display: flex;
    
}

.Normas h3{
    font-family:sans-serif;
    color: black;
    padding-top: 20px;
    display: flex;
}

.Normas p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

.Normas ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Cuerpo3{
    position: relative;
    border: 4px solid darkblue;
    border-radius: 30px;
    padding-top: 1px;
    background-color:orange;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.img1 h3{
    padding-left: 20px;
    font-family:sans-serif;
    color: black;
    padding-top: 20px;
    display: flex;
}

.img1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;    
}

.img1 img{
    border: 4px solid darkblue;
    border-radius: 14px;
    width: 40%;
    height: auto;
}

.img1 img{
    transition: transform 0.5s;
}

.img1:hover img{
    transform: scale(1.2);
}


.Cuerpo4{
    position: relative;
    border: 4px solid darkblue;
    border-radius: 30px;
    padding-top: 1px;
    background-color:orange;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.img2 h3{
    padding-left: 20px;
    font-family:sans-serif;
    color: black;
    padding-top: 20px;
    display: flex;
}

.img2 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;    
}

.img2 img{
    border: 4px solid darkblue;
    border-radius: 14px;
    width: 40%;
    height: auto;
}

.img2 img{
    transition: transform 0.5s;
}

.img2:hover img{
    transform: scale(1.2);
}

.img2 ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Cuerpo5{
    position: relative;
    border: 4px solid darkblue;
    border-radius: 30px;
    padding-top: 1px;
    background-color:orange;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.NormasISO h3{
    padding-left: 20px;
    font-family:sans-serif;
    color: black;
    padding-top: 20px;
    display: flex;
}


.NormasISO p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

.ISO img{
    border: 4px solid darkblue;
    border-radius: 14px;
    width: 20%;
    height: auto;
}


.ISO img{
    transition: transform 0.5s;
}

.ISO:hover img{
    transform: scale(1.2);
}

.Cuerpo6{
    position: relative;
    border: 4px solid darkblue;
    border-radius: 30px;
    padding-top: 1px;
    background-color:orange;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.NormasISO2 h3{
    padding-left: 20px;
    font-family:sans-serif;
    color: black;
    padding-top: 20px;
    display: flex;
}

.NormasISO2 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}


