@charset "utf-8";
header{
    background-color:rgb(0,24,84);
    display: flex;
    justify-content: space-around;
}

img{
    padding-top: 20px;
    width: 210px;
    height: 90px;
    background-color: white;
    
}

.Menu{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    
}

.Menu a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    text-decoration:none;
    
}


body{
    background-image: url(../images/lenguaje-programacion.jpg);
    background-repeat: repeat-x;
    background-size: cover;
}
