<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Estilo1.css">
    <title>HOME</title>
</head>
<body>
    <header>
        <div class="Logo">
            <h1>Luis Miguel Muñoz A.</h1>
        </div>

        <div class="Menu">
            <a href="Home.html">HOME</a>
            <a href="#">PÁGINAS WEB</a>
            <a href="#">DISEÑO GRÁFICO</a>
            <a href="#">SOPORTE</a>
        </div>  
    </header>

    <div class="Cuerpo1">
        <section class="introduccion">
        <h1>Introducción</h1>
            <p>Los estándares de calidad de software hacen parte de la ingeniería de software, utilización de estándares y metodologías para
            el diseño, programación, prueba y análisis del software desarrollado, con el objetivo de ofrecer una mayor confiabilidad,
            mantenibilidad en concordancia con los requisitos exigidos, con esto se eleva la productividad y el control en la calidad de
            software, parte de la gestión de la calidad se establecen a mejorar su eficacia y eficiencia.
            <br>
        <br>En un escenario en el que los sistemas de software se desarrollan y construyen por terceros proveedores, el contratante del
            servicio, como primer receptor del mismo, en muchos casos debe confiar en el buen hacer del proveedor seleccionado,
            especialmente si nos dispone de los medios apropiados para auditar la entrega y en su caso argumentar defectos en el proceso
            de desarrollo.
            <br>
        <br>En general, una vez validado que el sistema responde a los principales requisitos funcionales especificados, el usuario realizará
            las pruebas de aceptación, corrigiendo los errores encontrados y tas pasándose al fin del entorno de producción. Sin embargo,
            en muy pocas ocasiones se validan de manera rigurosa los requisitos funcionales y los no funcionales, o se ejecutan
            validaciones que aseguren que el sistema es lo su#cientemente robusto y estable como para pasar a un entorno productivo con
            las garantías adecuadas.</p>
        </section>
    </div>

    <div class="Cuerpo2">
        <section class="Normas">
            <h1>NORMAS ISO/IEC</h1>
            <h3>ISO 12207 – Modelos de Ciclos de Vida del Software.</h3>
            <p>Estándar para los procesos de ciclo de vida del software de la organización, Este estándar se concibió para aquellos interesados
                en adquisición de software, así como desarrolladores y proveedores. El estándar indica una serie de procesos desde la
                recopilación de requisitos hasta la culminación del software.
                El estándar comprende 17 procesos lo cuales son agrupados en tres categorías:
            <ul>
            <li>Principales
            <li>De apoyo
            <li>De organización
            </ul>
            <p>Este estándar agrupa las actividades que se pueden llevar a cabo durante el ciclo de vida del software en cinco procesos
                principales, ocho procesos de apoyo y cuatro procesos organizativos.
                </p>
        </section>
    </div>
    <div class="Cuerpo3">
        <div class="img1">
        <p> 
            <img src="/images/Mapa.png" align="right"><h3>Norma ISO/IEC 9126.</h3>
                                                      <p>La norma ISO/IEC 9126 de 1991, es la norma para
                                                        evaluar los productos de software, esta norma nos
                                                        indica las características de la calidad y los
                                                        lineamientos para su uso, las características de
                                                        calidad y sus métricas asociadas, pueden ser útiles
                                                        tanto como para evaluar el producto como para
                                                        definir los requerimientos de la calidad y otros usos.
                                                        Esta norma definida por un marco conceptual basado
                                                        en los factores tales como Calidad del Proceso,
                                                        Calidad del Producto del Software y Calidad en Uso;
                                                        según el marco conceptual, la calidad del producto, a
                                                        su vez, contribuye a mejorar la calidad en uso.
                                                        La norma ISO/IEC 9126 define la calidad en uso como la perspectiva del usuario de la calidad del producto software cuando
                                                        éste es usado en un ambiente específico y un contexto de uso especí#co. Éste mide la extensión para la cual los usuarios
                                                        pueden conseguir sus metas en un ambiente particular, en vez de medir las propiedades del software en sí mismo</p> 
        </p>
        </div>
    </div>
</body>
</html>