<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Estilo1.css">
    <title>HOME</title>
</head>
<body>
    <header>
        <div class="Logo">
            <a href="https://fernandoarciniega.com/"><h1>Fernando Arciniega</h1></a>
        </div>

        <div class="Menu">
            <a href="Home.html">HOME</a>
            <a href="#">PÁGINAS WEB</a>
            <a href="#">DISEÑO GRÁFICO</a>
            <a href="#">SOPORTE</a>
        </div>  
    </header>
</body>
    <div class="Cuerpo">

    </div>